
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*.loginStyle{*/
/*  background-image:'url("../assets/photo_2020-03-09_14-46-12.jpg")';*/
/*}*/




/*Navbar uchun*/

*{
  box-sizing: border-box;
}

#menu {
  cursor: pointer;
  height: 100%;
  position: fixed;
  background-color: green;
  /*width: 300px;*/
  width: 100%;
  transition: 1000ms all cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateX(-100%);
  left: 60px;
}

#menu.expanded {
  transform: translateX(0%);
  left: 0px;
}

.menu-inner {
  width: 100%;
  height: 100%;
  position: relative;
}

#blob {
  top: 0;
  z-index: -1;
  right: 60px;
  transform: translateX(100%);
  height: 100%;
  position: absolute;
}

#blob-path {
  height: 100%;
  fill:  green;
}

.hamburger {
  right: 20px;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -10px;
}

.hamburger .line {
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: absolute;
}

.hamburger .line:nth-child(2) {
  top: 50%;
  margin-top: -2px;
}

.hamburger .line:nth-child(3) {
  bottom: 0;
}

/*h1 {*/
/*  position: fixed;*/
/*  right: 0;*/
/*  margin: 0;*/
/*}*/

#nav-ul {
  padding: 0;
  list-style: none;
  width: 80%;
  margin-left: 10%;
  position: absolute;
  /*top: 10px;*/
}

#nav-li {
  color: #fff;
  font-family: sans-serif;
  padding: 20px 0;
}

/*h2 {*/
/*  position: absolute;*/
/*  left: 50%;*/
/*  color: #fff;*/
/*  margin: 0;*/
/*  font-size: 16px;*/
/*  font-family: sans-serif;*/
/*  font-weight: 100;*/
/*}*/
.row{
  margin: 0 !important;
}
.row-style{
  width: 100% !important;
  height: 100vh;
}
.col-2-style{
  height: 100vh;
  width: 100%;
  background-color: #eceff1!important;
}
.col-10-style{
  height: 100vh;
  width: 100%;
  background-color: #e2e1e1!important;
}
.minusButton{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  text-align: center;
  margin-top: 5px;
  margin-left: 10px;
  background-color: red;
  color: black;
}
.navButton{
  border: black solid 1px!important;
  background-color: aliceblue!important;
  color: black!important;
}
.navBarButton{

}
.navBarButton:hover{
  background-color: aliceblue!important;
  color: black!important;
}

